
@{
    ViewData["Title"] = "dd";
}

<h1>dd</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="~/js/layui.js"></script>
    <link href="~/js/layui.css" rel="stylesheet" />
</head>
<body>
    <div id="cun"></div>
    <script type="text/babel">
        class CrudComponent extends React.Component{
        constructor(props){
        super(props)
        this.state={
        users:[]
        }
        }
        componentDidMount () {// 在此方法中启动定时器/绑定监听/发送ajax请求
        const getAllUsersUrl="http://localhost:62023/api/Some/Show"
        fetch(getAllUsersUrl,{method:"GET"})
        .then(response=>response.json())
        .then(data=>{
        console.log(data)
        this.setState({
        users:data
        })
        })
        }
        getUserByUserName(){
        const getUserByUserName="http://120.79.197.130/crudTest-0.0.1-SNAPSHOT/user/getUserByUserName/"+this.text1.value
        fetch(getUserByUserName,{method:"GET"})
        .then(response=>response.json())
        .then(data=>{
        console.log(data)
        this.setState({
        users:data
        })
        })
        }
        deleteUserById(id,name){
        if(window.confirm("确定要删除 "+name+" 吗？")){
        const getUserById="http://localhost:62023/api/Some/UpdState?id="+id
        fetch(getUserById,{method:"DELETE"})
        .then(response=>response.json())
        .then(data=>{
        
        
        })
        }

        }
        addUser(){
        window.location.href="http://localhost:63342/ReacTest/pageTest/10.CRUD.add.html?_ijt=ti5s31h50tdkekgf4ivl57dd48"
        }
        updateUser(id){
        window.location.href="http://localhost:63342/ReacTest/pageTest/10.CRUD.update.html?_ijt=ot6mkr486r7iothtqcfcbmvo44#"+id
        }
        render(){
        return (
        <div>
            <div className="layui-row layui-col-space2">
                <div className="layui-col-md1">
                    <input type="text" id="query" name="q" required lay-verify="required" placeholder="用户名" className="layui-input" ref={text1 =>this.text1=text1} />
                </div>
                <div className="layui-col-md1">
                    <button id="btn2" onClick={this.getUserByUserName.bind(this)} className="layui-btn">
                        <i className="layui-icon">&#xe602;</i>搜索
                    </button>
                </div>
            </div>
            <table className="layui-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody>
                    {
                    this.state.users.map(
                    (user, index) =>
                    <tr key={user.id}>
                        <td>{user.id}</td>
                        <td>{user.name}</td>
                        <td>{user.age}</td>
                        <td>
                            <button className="layui-btn layui-btn-normal" onClick={this.updateUser.bind(this,user.id)}>
                                <i className="layui-icon">&#xe642;</i>修改
                            </button>
                        </td>
                        <td>
                            <button className="layui-btn layui-btn-danger" onClick={this.deleteUserById.bind(this,user.id,user.name)}>
                                <i className="layui-icon">&#xe640;</i>删除
                            </button>
                        </td>
                    </tr>)
                    }
                </tbody>
            </table>

            <button className="layui-btn layui-btn-warm" onClick={this.addUser.bind(this)}>
                <i className="layui-icon">&#xe654;</i> 添加
            </button>

        </div>
        )
        }
        }
        ReactDOM.render(
        <CrudComponent />,document.getElementById("cun"))
    </script>
</body>
</html>

